<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<img src="/css/burger.png"/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<ul class="list-group">
				{{#each burgersToEat}}
					{{> readyToEat }}
					<li class="list-group-item list-group-item-default clearfix">
						{{burger_name}}
						<button type="button" class="btn btn-default devour" id="{{id}}">Devour</button>
					</li>
					
				{{/each}}
			</ul>
		</div>
		<div class="col-md-6 text-center">
			<ul class="list-group">

			</ul>
			<h1>HEY THERE!</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 text-center">
		</div>
		<div class="col-md-4 text-center">
			<h4>Enter in a new burger!</h4>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			<button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
		</div>
		<div class="col-md-4 text-center">
		</div>
	</div>
</div>